@keyframes textanim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animation1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Адаптив! */
@media (max-width: 600px) {
    footer {
        display: none;
    }
    .nanigation {
        gap: 2%;
        margin-top: 5%;
    }
    .nav-button {
        width: 22vw;
        height: 8vw;
    }
    a {
        width: 100%;
        height: 100%;
        font-size: 3vw;
    }
    /* Первый блок главного меню */
    .main1 {
        gap: 0vw;
    }
    .mainmenu-content {
        margin-top: 5%;
        margin-bottom: 10%;
        height: 75%;
        flex-direction: column;
        font-size: 5vw;
        justify-content: center;
        align-items: center;
    }
    .image-portret {
        width: 70%;
        margin-top: 10%;

    }
    .mainmenu-content-right {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-top: 10%;
    }
    .h1 {
        font-size: 6vw;
    }
    .h2 {
        font-size: 4vw;
    }
    .p {
        font-size: 2.9vw;
    }
    .contact-me {
        width: 40vw;
        height: 10vw;
        font-size: 4vw;
        margin-top: 20%;
    }
    /* Второй блок главного меню */
    .mainmenu-content2 {
        margin-bottom: 10%;
        height: 80vw;
        flex-direction: column;
        font-size: 5vw;
        justify-content: center;
        align-items: center;
    }
    #img1 {
        display: none;
    }
    #img2 {
        display: none;
    }
    #img3 {
        display: none;
    }
    #img4 {
        display: none;
    }
    #img5 {
        display: none;
    }
    #img6 {
        display: none;
    }
    .photo-button {
        width: 40vw;
        height: 10vw;
        font-size: 4vw;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    /* О себе */
    .skills-rate {
        width: 85%;
        height: 50%;
        margin-top: 0%;
        margin-bottom: 5%;
    }
    .skills {
        height: 25%;
    }
    .img1 {
        width: 100%;
        height: 50%;
        
    }
    .img2 {
        width: 39%;
        height: 50%;
    }
    .img3 {
        width: 75%;
        height: 50%;
    }
    .img4 {
        width: 76%;
        height: 50%;
    }
    .h2-about {
        font-size: 3.5vw;
    }
    .experiences {
        flex-direction: column;
    }
    .experience1 {
        width: 70%;
        font-size: 3vw;
        padding: 4%;
    }
    .experience2 {
        width: 70%;
        font-size: 3vw;
        padding: 4%;
    }
    .experience3 {
        width: 70%;
        font-size: 3vw;
        padding: 4%;
    }
    .contacts {
        width: 10vw; 
    }
    .contacts1 {
        width: 11vw; 
    }
    .social-media {
        margin-bottom: 20%;
        margin-top: 10%;
    }
    .social-media-container {
        margin-top: 5%;
        gap: 4vw;
        justify-content: center;
        align-items: center;
    }
    .h2-about {
        margin-bottom: 7%;
    }
    .galery-item {
        width: 39vw;
        height: 50vw;
        object-fit: cover;
        display: block;
        transition: 0.4s;
        margin: auto;
    }
    .galery-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;

    }
    .type-choise-button {
        width: 40vw;
        height: 10vw;
        font-size: 3vw;
        margin-top: 15%;
    }
    .galery-item-image {
        max-width: 90%;
    }

    .galery-item-video {
        max-width: 90%;
    }
    .galery-video {
        width: 39vw;
        height: 50vw;
        margin: auto;
        
    }

    /* Вкладка с проектами */
    .project-prewatch {
        position: relative;
        height: 110vw;
        flex-direction: column;
        margin: auto;
        margin-top: 10%;
    }
    .project-prewatch-img {
        width: 100%;
        height: 17%;
        margin-top: 90%;
    }
    .project-1-image {
        display: flex;
        width: 75%;
        gap: 6vw;
    }
    .project-button {
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 40vw;
        height: 10vw;
        font-size: 3vw;
        margin-top: 7%;
    }
    .project-prewatch-info {
        position: absolute;
        top: 45%;
        text-align: center;
    }
}

